<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 25rem;">
      <div class="card-header">
        Change Password
      </div>
      <div class="card-body">
        <form class="k-form" [formGroup]="form">
          <fieldset class="k-form-fieldset">
            <legend class="k-form-legend">Your account</legend>
            <kendo-avatar initials="EG" width="80px" height="80px" shape="circle"></kendo-avatar>
            <kendo-formfield>
              <kendo-label [for]="oldpassword" text="OldPassword"></kendo-label>
              <kendo-textbox formControlName="oldpassword" [clearButton]="true" #oldpassword required></kendo-textbox>
              <kendo-formhint>Old Password</kendo-formhint>
              <kendo-formerror>Error: Old Password is required</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="password" text="Password"></kendo-label>
              <kendo-textbox formControlName="password" [clearButton]="true" #password required></kendo-textbox>
              <kendo-formhint>New Password</kendo-formhint>
              <kendo-formerror>Error: New Password is required</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="cnfpassword" text="ConfirmPassword"> </kendo-label>
              <kendo-textbox formControlName="cnfpassword" #cnfpassword require [clearButton]="true">
                <ng-template kendoTextBoxSuffixTemplate>
                  <button kendoButton look="clear" icon="eye" (click)="toggleVisibility()"></button>
                </ng-template>
              </kendo-textbox>
              <kendo-formhint>ConfirmPassword password</kendo-formhint>
              <kendo-formerror>Error: ConfirmPassword is required</kendo-formerror>
            </kendo-formfield>
            <div class="k-form-buttons">
              <button class="k-button k-primary" (click)="submit()">Submit</button>
              <button class="k-button" (click)="clearForm()">Clear</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

