<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <div class="example">
                <form class="k-form" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                  <h5>Forgot Password</h5>
                  <kendo-formfield>
                    <kendo-label [for]="email" text="Email"></kendo-label>
                    <!-- <kendo-textbox formControlName="email" [clearButton]="true" #email required></kendo-textbox> -->
                    <input formControlName="email" kendoTextBox #email  class="form-control" [(ngModel)]=data.email/>
                    <kendo-formerror *ngIf="form.controls.email.errors?.required">Error: Email is required</kendo-formerror>
                    <kendo-formerror *ngIf="form.controls.email.errors?.email">Error: Not valid email format</kendo-formerror>
                    <!-- <div *ngIf="submitted && f.email.errors" class="k-tooltip-validation">
                      <div *ngIf="f.email.errors.required">email is required</div>
                  </div> -->
                  </kendo-formfield>
                  <div class="k-form-buttons">
                    <button class="k-button k-primary" >
                      Submit
                    </button>
                    <button class="k-button" (click)="clearForm()">Clear</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
