<div class="card">
    <div class="card-header">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">Approve Resume Details</div>
    </div>
    <div class="card-body">
        <kendo-grid [data]="gridData" [height]="533" 
        [pageable]="true" [sortable]="true" (edit)="editHandler($event)" (remove)="removeHandler($event)" (cancel)="rejectHandler($event)" [navigable]="true" 
        (dataStateChange)="onStateChange($event)" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
        >
            <kendo-grid-column field="id" [width]="100" title="ID"></kendo-grid-column>
            <kendo-grid-column field="resumeId" title="ResumeID"> </kendo-grid-column>
            <kendo-grid-column field="candidatename" title="CandidateName"></kendo-grid-column>
            <kendo-grid-column field="skill" title="Skill"> </kendo-grid-column>
            <kendo-grid-column field="email" title="Email"> </kendo-grid-column>
            <kendo-grid-column field="contactno" title="ContactNo"> </kendo-grid-column>
            <kendo-grid-column field="highestqualification" title="HighestQualification"> </kendo-grid-column>
            <kendo-grid-command-column title="command" width="220">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button  kendoGridEditCommand>Edit</button>
                    <button kendoButton (click)="approveHandler(dataItem)">Approve</button>
                    <button kendoGridRemoveCommand>Reject</button>
                    <button kendoButton (click)="add(dataItem.id)" >view</button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
        
    </div>
</div>
