<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <div class="example">
                  <form class="k-form" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                    <h5>Forgot Password</h5>
                    <kendo-formfield>
                      <kendo-label [for]="newpassword" text="NewPassword"></kendo-label>
                      <input formControlName="newpassword" kendoTextBox #newpassword  [(ngModel)]=data.newpassword/>
                      <kendo-formerror>Error: New Password is required</kendo-formerror>
                    </kendo-formfield>
                    <kendo-formfield>
                      <kendo-label [for]="cnfpassword" text="ConfirmPassword"></kendo-label>
                      <input formControlName="cnfpassword" kendoTextBox #cnfpassword  [(ngModel)]=data.cnfpassword/>
                      <kendo-formerror>Error: New Password is required</kendo-formerror>
                    </kendo-formfield>
                    <div class="k-form-buttons">
                      <button class="k-button k-primary" >
                        Submit
                      </button>
                      <button class="k-button" (click)="clearForm()">Clear</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- <div class="card-footer p-4">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  