<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <div class="example">
                <form class="k-form" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                  <h5>Register Company</h5>
                  <kendo-formfield>
                    <kendo-label [for]="companyName" text="Company Name"></kendo-label>
                    <input formControlName="companyname" kendoTextBox #companyname class="form-control" [(ngModel)]=data.companyname/>
                    <kendo-formerror>Error: Company Name is required</kendo-formerror>
                  </kendo-formfield>
                  <kendo-formfield>
                    <kendo-label [for]="email" text="Email"></kendo-label>
                    <!-- <kendo-textbox formControlName="email" [clearButton]="true" #email required></kendo-textbox> -->
                    <input formControlName="email" kendoTextBox #email  class="form-control" [(ngModel)]=data.email/>
                    <kendo-formerror *ngIf="form.controls.email.errors?.required">Error: Email is required</kendo-formerror>
                    <kendo-formerror *ngIf="form.controls.email.errors?.email">Error: Not valid email format</kendo-formerror>
                    <!-- <div *ngIf="submitted && f.email.errors" class="k-tooltip-validation">
                      <div *ngIf="f.email.errors.required">email is required</div>
                  </div> -->
                  </kendo-formfield>
                  <kendo-formfield showHints="initial" showErrors="initial">
                    <kendo-label [for]="type" text="Type"></kendo-label>
                    <kendo-autocomplete #type [data]="types" formControlName="type" [(ngModel)]=data.type >
                    </kendo-autocomplete>
                    <kendo-formhint align="start">Hint: IT</kendo-formhint>
                    <kendo-formerror *ngIf="!form.controls.type.required">Error: Type is required</kendo-formerror>
                  </kendo-formfield>  
                  <kendo-formfield>
                    <kendo-label [for]="username" text="Username"></kendo-label>
                    <!-- <kendo-textbox formControlName="username" [clearButton]="true" #username required></kendo-textbox>  -->
                    <input formControlName="username" kendoTextBox #username  [(ngModel)]=data.username/>
                    <kendo-formerror>Error: Username is required</kendo-formerror>
                  </kendo-formfield>  
                  <kendo-formfield>
                    <kendo-label [for]="contactno" text="contactno"></kendo-label>
                    <!-- <kendo-textbox formControlName="password" [clearButton]="true" #contactno required></kendo-textbox>  -->
                    <input formControlName="contactno" kendoTextBox #contactno [(ngModel)]=data.contactno/>
                    <kendo-formerror>Error: contactno is required</kendo-formerror>
                    <!-- <div *ngIf="form.controls.contactno.errors.maxlength">Password must be at least 10 characters</div> -->
                  </kendo-formfield>  
                  <kendo-formfield>
                    <kendo-label [for]="address" text="Address"></kendo-label>
                    <!-- <kendo-textbox formControlName="address" [clearButton]="true" #address required></kendo-textbox>  -->
                    <input formControlName="address" kendoTextBox #address [(ngModel)]=data.address/>
                    <kendo-formerror>Error: Address is required</kendo-formerror>
                  </kendo-formfield>
                  <kendo-formfield>
                    <kendo-label [for]="password" text="Password"></kendo-label>
                    <input formControlName="password" kendoTextBox #password  [(ngModel)]=data.password/>
                    <kendo-formerror>Error: Password is required</kendo-formerror>
                  </kendo-formfield>
                  <!-- <kendo-formfield>
                    <kendo-label [for]="state" text="State"></kendo-label>
                    <input formControlName="state" kendoTextBox #state placeholder="state" [(ngModel)]=data.state/>
                    <kendo-formerror>Error: State is required</kendo-formerror>
                  </kendo-formfield>
                  <kendo-formfield>
                    <kendo-label [for]="city" text="City"></kendo-label>
                    <input formControlName="city" kendoTextBox #city placeholder="city" [(ngModel)]=data.city/>
                    <kendo-formerror>Error: City is required</kendo-formerror>
                  </kendo-formfield>   -->
                  <kendo-formfield showHints="initial" showErrors="initial">
                    <kendo-label [for]="state" text="State"></kendo-label>
                    <kendo-autocomplete #state [data]="states" formControlName="state" [(ngModel)]=data.state>
                    </kendo-autocomplete>
                    <kendo-formhint align="start">Hint: Only Indian States</kendo-formhint>
                    <kendo-formerror *ngIf="!form.controls.state.required">Error: State is required</kendo-formerror>
                  </kendo-formfield>
        
                  <kendo-formfield showHints="initial" showErrors="initial">
                    <kendo-label [for]="city" text="City"></kendo-label>
                    <kendo-autocomplete #city [data]="citys" formControlName="city" [(ngModel)]=data.city>
                    </kendo-autocomplete>
                    <kendo-formhint align="start">Hint: Only Indian City</kendo-formhint>
                    <kendo-formerror *ngIf="!form.controls.city.required">Error: City is required</kendo-formerror>
                  </kendo-formfield>
                  <kendo-formfield>
                    <kendo-label [for]="website" text="Website Url"></kendo-label>
                    <input formControlName="website" kendoTextBox #website [(ngModel)]=data.website/>
                    <kendo-formerror>Error: Website Url is required</kendo-formerror>
                  </kendo-formfield>
                  <kendo-formfield>
                    <kendo-label [for]="linkdin" text="LinkDin Url"></kendo-label>
                    <input formControlName="linkdin" kendoTextBox #linkdin [(ngModel)]=data.linkdin/>
                    <kendo-formerror>Error: LinkDin Url is required</kendo-formerror>
                  </kendo-formfield>
                  <kendo-formfield>
                    <kendo-label [for]="glassdoor" text="Glass Door"></kendo-label>
                    <input formControlName="glassdoor" kendoTextBox #glassdoor [(ngModel)]=data.glassdoor/>
                    <kendo-formerror>Error: LinkDin Url is required</kendo-formerror>
                  </kendo-formfield>
                  <div class="k-form-buttons">
                    <button class="k-button k-primary" >
                      Submit
                    </button>
                    <button class="k-button" (click)="clearForm()">Clear</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>