<div class="example">
    <form class="k-form" [formGroup]="form">
      <h5>Update Profile</h5>
      

      <kendo-formfield>
        <kendo-label [for]="email" text="Email"></kendo-label>
        <kendo-textbox formControlName="email" [clearButton]="true" #email required></kendo-textbox>
        <kendo-formerror *ngIf="form.controls.email.errors?.required">Error: Email is required</kendo-formerror>
        <kendo-formerror *ngIf="form.controls.email.errors?.email">Error: Not valid email format</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-label [for]="phoneNumber" text="Phone Number"></kendo-label>
        <kendo-maskedtextbox #phoneNumber formControlName="phoneNumber" [mask]="phoneNumberMask" [value]="phoneNumberValue"></kendo-maskedtextbox>
        <kendo-formerror>
          <div *ngIf="form.controls.phoneNumber.errors">
            Error: Not a valid phone number format
          </div>
          <div *ngIf="form.controls.phoneNumber.errors?.required">
            Error: Phone number is required
          </div>
        </kendo-formerror>
      </kendo-formfield>

      <div class="wrap">
        <kendo-formfield showHints="initial" showErrors="initial">
            <kendo-label [for]="state" text="State"></kendo-label>
            <kendo-autocomplete #state [data]="states" formControlName="state">
            </kendo-autocomplete>
            <kendo-formhint align="start">Hint: Only Indian States</kendo-formhint>
            <kendo-formerror *ngIf="!form.controls.state.required">Error: State is required</kendo-formerror>
          </kendo-formfield>

          <kendo-formfield showHints="initial" showErrors="initial">
            <kendo-label [for]="city" text="City"></kendo-label>
            <kendo-autocomplete #state [data]="citys" formControlName="city">
            </kendo-autocomplete>
            <kendo-formhint align="start">Hint: Only Indian City</kendo-formhint>
            <kendo-formerror *ngIf="!form.controls.city.required">Error: City is required</kendo-formerror>
          </kendo-formfield>

          
      </div>

      <kendo-formfield>
        <kendo-label [for]="address" text="Address"[optional]="true"></kendo-label>
        <kendo-textarea #address formControlName="address" resizable="vertical"></kendo-textarea>
      </kendo-formfield>

      <div class="k-form-buttons">
        <button class="k-button k-primary" (click)="submitForm()">
          Update
        </button>
        <button class="k-button" (click)="clearForm()">Clear</button>
      </div>
    </form>
  </div>